@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: #252525;

}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0px 5%;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 30px;
}

.gallery img:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

.gallery img {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}


.heading {
    text-align: center;
    color: #fff;
}

.heading h1 {
    font-weight: 500;
    font-size: 60px;
    padding: 15px;
}

@media screen and (max-width:700px) {
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .heading h1{
      font-size: 30px;
    }
}

.cursor-cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
  }

  .cursor-difference{
    mix-blend-mode: difference;
  }
  
  .cursor-circle {
      transform-origin: center;
      position: absolute;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 20px;
  }

  .cursor-border-transform{
    animation: border-transform 3s linear infinite;
  }
  
  @keyframes border-transform {
    0%,
    100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }
  
  .cursor-scale{
    transition: .5s ease;
    transform: scale(1.6);
  }
  
  .cursor-scale-outline{
    transform:scale(1.9);
    background-color: transparent !important;
  }
  
  
  .cursor-nocursor{
    cursor:none!important;
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    font-weight: 300;
    background: #111111;
    margin-top: 20px;
    color: #fff;

}

.copyright i {
    color: #01baef;
}
